<ion-view view-title="关于我们">

  <!--<div class="bar-subheader">-->
    <!--<div class="list">-->
      <!--<div class="item item-avatar-left" style="height: 150px;background-image: url(./img/bg_doctor_detail.jpg); background-size: 100% 100%;">-->
        <!--<img style="margin-top: 3em" ng-src="{{baseURL+healer.image}}">-->
        <!--<button style="float: right;margin-top: 3em" class="button-rounded-yellow">专业级</button>-->
        <!--<h2 style="margin-top: 3em;color: white;">{{healer.name}}&nbsp;&nbsp;<small style="font-size: smaller;color: white;">{{healer.gender}}</small> </h2>-->
        <!--<p style="font-size: 50%;color: white">已服务{{healer.serviced}}次</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="image-rounded img-center" ng-src="./img/aboutus.jpg">

        <h1 style="text-align: center;margin-top: 10px;">kangFu</h1>
      </div>

      <div class="item">
        个人网站
        <a style="font-size: 70%;float: right" sref="http://www.shrimpcolo.com/wordpress/">http://www.shrimpcolo.com/wordpress/</a>
      </div>
      <div class="item">
        CSDN博客
        <a style="font-size: 70%;float: right" href="http://blog.csdn.net/shrimpcolo">http://blog.csdn.net/shrimpcolo</a>
      </div>

      <div class="item">
        github
        <a style="font-size: 70%;float: right" href="https://github.com/tancolo/">https://github.com/tancolo/</a>
      </div>

      <div class="item">
        QQ
        <a style="font-size: 70%;float: right">3317885594</a>
      </div>

    </div>

  </ion-content>

</ion-view>
