<ion-view view-title="关于我们">

  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="image-rounded img-center" ng-src="./img/aboutus.jpg">

        <h1 style="text-align: center;margin-top: 10px;">kangFu</h1>
      </div>

      <div class="item">
        个人网站
        <a style="font-size: 70%;float: right" onclick="window.open('http://www.shrimpcolo.com/wordpress/', '_system', 'location=yes');return false;">shrimpcolo.com</a>
      </div>
      <div class="item">
        CSDN博客
        <a style="font-size: 70%;float: right" onclick="window.open('http://blog.csdn.net/shrimpcolo', '_system', 'location=yes');return false;">blog.csdn.net/shrimpcolo</a>
      </div>

      <div class="item">
        github
        <a style="font-size: 70%;float: right" onclick="window.open('https://github.com/tancolo/', '_system', 'location=yes');return false;">github.com/tancolo/</a>
      </div>

      <div class="item">
        QQ
        <a style="font-size: 70%;float: right">3317885594</a>
      </div>

    </div>

  </ion-content>

</ion-view>
