<ion-view view-title="联系人管理">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon ion-android-add-circle"
              ng-click="addContacts()"></button>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <!--<ion-item ng-repeat="contact in contacts" ui-sref="app.contactDetails({id: contact.id})">-->
        <ion-item ng-repeat="contact in contacts" >
        <p style="float: right">{{contact.telephone}}</p>
        <p>{{contact.name}} &nbsp; &nbsp;({{contact.gender}})</p>
        <p class="myUnderline" style="color: darkgray;margin-top: 10px">地址: &nbsp;&nbsp; {{contact.fullAddress}}</p>

        <p style="float: right; margin-top: 10px;margin-right: 20px" class="enable-pointer-events">
          <a class="subdued button button-small" ng-click="doEdit(contact)"><i class="icon ion-edit"></i></a>
          <a class="subdued button button-small" style="margin-left: 10px" ng-click="doDelete(contact)"><i class="icon ion-android-delete"></i></a>
        </p>
      </ion-item>
    </ion-list>

    <!--<div style="width: 100%; height: 100%" ng-if="!showContactList" >-->
      <!--<div class="center-ion-content">-->
        <!--<h2 style="color: lightgrey">没有地址信息点击右上角按钮添加</h2>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>

</ion-view>
