<ion-view view-title="治疗师">
  <ion-content>
    <!--list item-->

    <div class="list">
      <div class="item item-avatar-left" style="height: 150px;background-image: url(../img/bg_doctor_detail.jpg); background-size: 100% 100%;">
        <img style="margin-top: 3em" ng-src="{{baseURL+healer.image}}">
        <button style="float: right;margin-top: 3em" class="button-rounded-yellow">专业级</button>
        <h2 style="margin-top: 3em;color: white;">{{healer.name}}&nbsp;&nbsp;<small style="font-size: smaller;color: white;">{{healer.gender}}</small> </h2>
        <p style="font-size: 50%;color: white">已服务{{healer.serviced}}次</p>
      </div>
    </div>

    <!--top tab-->
    <div class="tabs-striped tabs-color-royal" style="position: relative;">
      <div class="tabs">
        <a class="tab-item" ng-class="{active:isSelected(1)}" ng-click="select(1)">康复项目</a>
        <a class="tab-item" ng-class="{active:isSelected(2)}" ng-click="select(2)">介绍</a>
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="project in projects">

        <label><input type="radio" ng-value="specialValue">
          <img style="vertical-align:middle;" class="image-rounded" ng-src="{{baseURL+project.image}}">
        </label>

          <div style="float: right;width: 14em;">
            <a ui-sref="app.projectdetails({id: project.id})" style="font-size: 90%; float: right;text-decoration:none">&nbsp;&nbsp;查看详情</a>
          <h2 style="font-size: 90%;width: 10em;overflow: hidden">{{project.name}}</h2>

          <p class="subdued" style="height: 3em;font-size: 80%;">{{project.description}}</p>
          <p style="margin-top: 1.5em">
            <a class="subdued">
              <i class="ion ion-ios-clock-outline"></i> {{project.time}}分钟</a>
            <a class="subdued" style="float:right;color: coral"> ¥&nbsp;{{project.price}}</a>
          </p>
          </div>

      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
