<ion-view view-title="实体店">

  <!-- ionic tab -->
  <div class="tabs-striped tabs-color-royal">
    <div class="tabs">
      <a class="tab-item" ng-class="{active:isSelected(1)}" ng-click="select(1)">康复大师</a>
      <a class="tab-item" ng-class="{active:isSelected(2)}" ng-click="select(2)">合作机构</a>
    </div>
  </div>

  <ion-content>

    <ion-list>
      <ion-item ng-repeat="store in stores | filter: filtText" ui-sref="app.storedetails({id: store.id})">
      <!--<ion-item ui-sref="app.storedetails({id: store.id})">-->
        <label>
          <img style="vertical-align:middle;" class="image-rounded" ng-src="{{baseURL + store.images[0].image}}">
        </label>

        <div style="float: right;width: 65%">
          <h2 style="font-size: 90%;">{{store.name}}</h2>

          <p class="subdued" style="margin-top: 0.3em;height: 3em;font-size: 80%;">{{store.address}}</p>
          <p style="margin-top: 1em">
            <a class="subdued" style="color: #007aff">{{store.guests}}人<span style="color: darkslategray">去过</span></a>
            <a class="subdued" style="color: #007aff"><span style="color: darkslategray">距离 : </span>{{store.distance}}千米</a>
          </p>
          <p style="color: gray; font-size: 70%">联系电话 {{store.telephone}}</p>
        </div>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
