<ion-view view-title="我的积分">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="point in points | orderBy: filterDate">
        <div class="row row-no-padding">
          <div class="col-90">
            <p>{{point.event}}+{{point.point}}积分</p>
            <p style="font-size: 90%">{{point.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
          </div>
          <div class="col-10 col-center">
            <a>+{{point.point}}分</a>
          </div>
        </div>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
