<ion-view view-title="理疗项目">
  <!-- ionic tab -->
  <div class="tabs-striped tabs-color-royal">
    <div class="tabs">
        <a class="tab-item" ng-class="{active:isSelected(1)}" ng-click="select(1)">所有项目</a>
        <a class="tab-item" ng-class="{active:isSelected(2)}" ng-click="select(2)">颈肩腰腿</a>
        <a class="tab-item" ng-class="{active:isSelected(3)}" ng-click="select(3)">语言障碍</a>
        <a class="tab-item" ng-class="{active:isSelected(4)}" ng-click="select(4)">脑截瘫</a>
        <a class="tab-item" ng-class="{active:isSelected(5)}" ng-click="select(5)">骨折</a>
    </div>

    <!--<ul class="tabs">-->
      <!--<li class="tab-item" ng-class="{active:isSelected(1)}">-->
        <!--<a ng-click="select(1)">所有项目</a></li>-->
      <!--<li class="tab-item" ng-class="{active:isSelected(2)}">-->
        <!--<a ng-click="select(2)">颈肩腰腿</a></li>-->
      <!--<li class="tab-item" ng-class="{active:isSelected(3)}">-->
        <!--<a ng-click="select(3)">语言障碍</a></li>-->
      <!--<li class="tab-item" ng-class="{active:isSelected(4)}">-->
        <!--<a ng-click="select(4)">脑截瘫</a></li>-->
      <!--<li class="tab-item" ng-class="{active:isSelected(5)}">-->
        <!--<a ng-click="select(5)">骨折</a></li>-->
    <!--</ul>-->

  </div>

  <ion-content>
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="project in projects | filter:{category:filtText}"-->
                <!--href="#/app/projects/{{project.id}}">-->
        <!--<div class="card">-->
          <!--<div class="item">-->
            <!--<h2>{{project.name}}-->
              <!--<a style="float:right;">¥{{project.price}}</a>-->
            <!--</h2>-->
            <!--<p style="margin-top: 0.5em">-->
              <!--<a class="subdued">-->
                <!--&lt;!&ndash;<ion-icon name="ion-ios-clock-outline"></ion-icon>30</a>&ndash;&gt;-->
                <!--<i class="ion ion-ios-clock-outline"></i> {{project.time}}</a>-->
              <!--<a class="subdued">-->
                <!--<i class="ion ion-ios-heart-outline"></i> {{project.frequency}}人做过</a>-->
            <!--</p>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="item item-image" style="padding-bottom: 0.5em">&ndash;&gt;-->
          <!--<div class="item item-image">-->
            <!--<img ng-src="{{baseURL+project.image}}" alt="kangFu">-->
          <!--</div>-->

        <!--</div>-->

      <!--</ion-item>-->
    <!--</ion-list>-->

    <div class="card" ng-repeat="project in projects | filter:{category:filtText}"
         ui-sref="app.projectdetails({id: project.id})">

      <div class="item" >
        <h2>{{project.name}}
          <a style="float:right;">¥{{project.price}}</a>
        </h2>
        <p style="margin-top: 0.5em">
         <a class="subdued">
           <!--<ion-icon name="ion-ios-clock-outline"></ion-icon>30</a>-->
           <i class="ion ion-ios-clock-outline"></i> {{project.time}}</a>
         <a class="subdued">
           <i class="ion ion-ios-heart-outline"></i> {{project.frequency}}人做过</a>
        </p>
      </div>
      <!--<div class="item item-image" style="padding-bottom: 0.5em">-->
      <div class="item item-image">
        <img  ng-src="{{baseURL+project.image}}" alt="kangFu">
      </div>

    </div>
  </ion-content>
</ion-view>
