<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">导航栏</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item item-icon-left" href="#/app/home">
          <i style="color: #387ef5;" class="icon ion-android-home"></i>
          主页
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/projects">
          <i style="color: #387ef5;" class="icon ion-android-list"></i>
          理疗项目
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/healers">
          <i style="color: #387ef5;" class="icon ion-android-person"></i>
          理疗医师
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/localstore">
          <i style="color: #387ef5;" class="icon ion-android-list"></i>
          实体店
        </ion-item>

        <!--订单暂时不实现-->
        <!--<ion-item menu-close class="item item-icon-left" href="#/app/orders">-->
          <!--<i style="color: #387ef5;" class="icon ion-ios-paper"></i>-->
          <!--订单-->
        <!--</ion-item>-->
        <ion-item class="item-divider"></ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/account">
          <i style="color: #387ef5;" class="icon ion-social-yen"></i>
          我的账户
          <span class="item-note">余额: {{account.balance}}元</span>
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/points">
          <i style="color: #387ef5;" class="icon ion-android-star"></i>
          我的积分
          <span style="background-color: yellow; color: darkblue" class="badge badge-positive">{{account.points}}</span>
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/coupons">
          <i style="color: #387ef5;" class="icon ion-bag"></i>
          优惠券
          <span class="badge badge-positive">{{account.coupon}}</span>
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/contacts">
          <i style="color: #387ef5;" class="icon ion-android-contacts"></i>
          联系人管理
        </ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/favorites">
          <i style="color: #387ef5;" class="icon ion-android-favorite"></i>
          我的收藏
        </ion-item>

        <ion-item class="item-divider"></ion-item>

        <ion-item menu-close class="item item-icon-left" href="#/app/settings">
          <i style="color: #387ef5;" class="icon ion-android-settings"></i>
          设置
        </ion-item>

        <ion-item menu-close class="item item-icon-left" ng-click="login()">
          <i style="color: #387ef5;" class="icon ion-log-in"></i>
          登录
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
